<!doctype html>
<html lang="en">
<head>
  <title>Career Recommender</title>
  <meta charset="utf-8" />
  <meta name="author" content="WebApp" />
  <meta name="description" content="A system to help identify your career match." />
  <meta name="viewport" content="width=device-width" />
  <link rel="apple-touch-icon-precomposed" href="static/assets/media/favicon.png" />
  <link rel="icon" href="static/assets/media/favicon.png" />
  <link rel="mask-icon" href="static/assets/media/favicon.svg" color="rgb(13,15,29)" />
  <link rel="shortcut icon" href="static/assets/media/favicon.png" />
  <link rel="stylesheet" href="static/assets/css/main.css" />
</head>
<body class="page page-home preload">


  <section class="bg-image-01 center full-screen middle overlay padding">
    <div class="max-width-m">
        <img style="height: 87px;margin-bottom: 20px;" src="/static/assets/media/logos/icon.png" alt="">
      <h1 style="color:#ffffff;">Welcome VVU Career Recommender.</h1>
      <p class="lead" style="color:#ffffff;margin-top: -10px;">"Valley View University's Most Effective Career Recommender System"</p>
      <img style="width: 250px;margin-top: 20px;text-align: center;" src="/static/assets/media/svg-img/newopen.svg" alt="">
      <div>
          <a href="/signup" style="background: #ffffff;border: 1px solid #000073;color: #000073;" class="button button-primary space-top">Get started, it's free!</a>
      </div>
    </div>
  </section>

   <section style="background-color: #ffffff;" class="bg-image-01 center full-screen1 middle overlay padding">
    <div style="margin-top: -20px;" class="max-width-m">
      <h1 style="color:#000073;">Discover your top career matches.</h1>
      <img style="width: 250px;margin-top: 20px;text-align: center;" src="/static/assets/media/svg-img/career.svg" alt="">
      <p class="lead" style="color:#000073;margin-top: 50px;">Over 5,000 Students Are Happy Using Our System</p>
    </div>
  </section>

  <script src="static/assets/js/jquery.min.js"></script>
  <script src="static/assets/js/main.js"></script>
</body>
</html>
