<!doctype html>
<html lang="en">
<head>
  <title>Career Recommender - Questions</title>
  <meta charset="utf-8" />
  <meta name="author" content="WebApp" />
  <meta name="description" content="A system to help identify your career match." />
  <meta name="viewport" content="width=device-width" />
  <link rel="apple-touch-icon-precomposed" href="/static/assets/media/favicon.png" />
  <link rel="icon" href="/static/assets/media/favicon.png" />
  <link rel="mask-icon" href="/static/assets/media/favicon.svg" color="#000073" />
  <link rel="shortcut icon" href="/static/assets/media/favicon.png" />
  <link rel="stylesheet" href="/static/assets/css/main.css" />
</head>
<body class="page page-home preload">


  <section class="bg-image-01 center full-screen2 middle overlay padding ">
    <div style="margin-top: 10px;">
        <span class="q">Questions 0/52</span>
    </div>
    <div  class="max-width-m animated fadeInUp">
        <img style="height: 87px;margin-bottom: 20px; margin-top: 50px; " src="/static/assets/media/logos/icon.png" alt="">
      <p style="color:#ffffff; font-size: 1.5rem;">Hi name do you like to ...</p>
      <h1 class="lead" style="color:#ffffff;margin-top: -5px;font-size: 2rem; font-weight: 500;line-height: 2.5rem;">Solve mathematics problem</h1>
      <div style="padding:20px;" class='row'>
        <div class='column' >
            <div class='blue-column'>
                <img style="width: 250px;text-align: center;" src="/static/assets/media/svg-img/newopen.svg" alt="">
            </div>
        </div>
        <div  class='column'>
            <div style="padding: 0px 45px;"  class='green-column'>
                <p class="option_btn">Very Interested 😍</p>
                <p class="option_btn">Interested 😊</p>
                <p class="option_btn">Slightly Interested 😏</p>
                <p class="option_btn">Not Interested 😠</p>

            </div> 
        </div>
        </div>
        <div>
          <a href="/signup" style="background: #ffffff;border: 1px solid #000073;color: #000073; height: 4rem;
    line-height: 3.875rem;font-size: 1.3rem;" class="button button-primary space-top">Next Question</a>
      </div>
        
  </section>

  <script src="/static/assets/js/jquery.min.js"></script>
  <script src="/static/assets/js/main.js"></script>
</body>
</html>
